
    <header>
        <h1 class="site-header">
          <a href="/index.html">
            <span class="firstLetter">C</span>APAWAKY</h1>
          </a>
       
    </header>
      <nav class="navbar navbar-default" id="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="navStyling">
              <li><a href="/index.html">Home</a></li>             
              <li><a href="/posts.html">Posts</a></li>
              <li><a href="/photo.html">Photo</a></li>
              <li><a href="/portfolio.html">Portfolio</a></li>
              <li><a href="/about.html">Carlos</a></li>
            </ul>
              <div id="social-media-position" class="social-media-link">
                <a class="social-media-link" href="http://www.instagram.com/carlospwk" target="_top">Instagram</a><br>
                <a class="social-media-link" id="social-media-border" href="https://fi.linkedin.com/in/capawaky" target="_top">LinkedIn</a>
              </div>
          </div>
      </nav>

</header>
